
input[type=radio]{
  width: 1.5em;
  height: 1.5em;
}

input[type=checkbox]{
  width: 1.5em;
  height: 1.5em;
}

img{
  border-radius: 30px;
  margin: 5px;
}

h2{
  margin: 15px;
}

label{
  font-size: 25px;
}

div.button {
  float: right;
  margin-right: 1em;
}

div.textbox {
  float: right;
  background-color: rgba(100, 100, 150, 0.2);
  padding: 7em;
  margin: black;
  margin: 2em;
}

div.back_1 {
  background-color: rgba(230, 100, 100, 0.5);
  width: 68em;
  border-radius: 20px;
}

div.fixed{
  position: fixed;
}

div.fixed_box1 {
    margin-left: 75em;
    position: fixed;
    top:40px;
}

div.nav-bar {
  width: 100%;
  overflow: hidden;
  display: inline-block;
  padding: 4px 4px;
  float: left;
  border: none;
  outline: none;
  display: block;
  position: static;
  float: left;
  white-space: normal;
}

div.button_1{
  width: 100%;
  border: none;
  display: inline-block;
  outline: 0;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  text-align: left;
  white-space: normal;

}

.button_1:hover{
  color: #000!important;
  background-color: #ccc!important;
}

.button_1:first-child{
  background-color: #ccc;
  color: #000;
}
