div.button {
  float: right;
  margin-right: 1em;
}

div.textbox {
  float: right;
  background-color: rgba(100, 100, 150, 0.2);
  padding: 7em;
  margin: black;
  margin: 2em;
}

div.back_1 {
  background-color: rgba(230, 100, 100, 0.5);
  width: 68em;
  border-radius: 20px;
}

body {
  background-image: url("../Pictures/Background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

div.fixed {
    margin-left: 80em;
    position: fixed;
    top:40px;
}

input[type=radio]{
  width: 1.5em;
  height: 1.5em;
}

input[type=checkbox]{
  width: 1.5em;
  height: 1.5em;
}

img{
  border-radius: 30px;
  margin: 5px;
}
