
input[type=radio]{
  width: 1.5em;
  height: 1.5em;
}

input[type=checkbox]{
  width: 1.5em;
  height: 1.5em;
}

h2{
  margin: 15px;
}

label{
  font-size: 25px;
}

footer{
  background-color: rgba(50,55,55,0.9);
  padding: 20px;
  border-top: 2px;
  border-color: blue;
  min-width: 100%;
}

div.button {
  float: right;
  margin-right: 1em;
}

div.textbox {
  float: right;
  background-color: rgba(100, 100, 150, 0.2);
  padding: 7em;
  margin: black;
  margin: 2em;
}

div.back_1 {
  background-color: rgba(230, 100, 100, 0.5);
  width: 68em;
  border-radius: 20px;
}

div.fixed{
  position: fixed;
}

div.fixed_box1 {
    margin-left: 75em;
    position: fixed;
    top:40px;
}

div.nav-bar {
  width: 100%;
  overflow: hidden;
  display: inline-block;
  padding: 8px 8px;
  float: left;
  border: none;
  outline: none;
  display: block;
  position: static;
  float: left;
  white-space: normal;
  text-align: center;
  vertical-align: top;
}

div.footer{

}

.button_1 {
  border: none;
  display: inline-block;
  outline: 0;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap

}

.button_1:hover{
  color: #000!important;
  background-color: #ccc!important;
}

.button_1:first-child{
  background-color: #000;
  color: #fff;
}

.black, .hover-black:hover {
  color: #fff!important;
  background-color: #000!important
}

.input_box{
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%
  border: 1px solid #ccc!important
}

.button_2{
  border: none;
  text-align: center;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 0;
  padding-bottom: 2px;
  background-color: blue;
  color: white;
  vertical-align: center;
  float: left;
}

.button_2:hover{
  color: #000;
  background-color: #ccc;
}

.button_2:active{
  background-color: cyan;
}

.footer_img{
  display: inline-block;
  border-radius: 70px !important;
  margin: 3px !important;
  float: right;
  vertical-align: top;
  margin-bottom: 40px;
}
